{% extends "index.html" %}

{% block title %}data type{% endblock %}
{% block body %}
<div class="container mt-5 content">
    <div class="row">


<div class="position-relative">
    <a class="btn btn-success  btn-sm position-absolute top-0 start-0" 
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
        href="/python-variable" 
        role="button">&lt; Previous</a>
    <a class="btn btn-success btn-sm position-absolute top-0 end-0" 
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
        href="/python-data-type" 
        role="button">Next > </a>
</div>

    </div>
</div>

{% endblock %}