{% extends "index.html" %}

{% block title %}Variable{% endblock %}

{% block body %}
<div class="container mt-5 content">
    <div class="row">
<h1>Python Variables</h1>
<h2>Variables</h2>
<p>Variables are containers for storing data values.</p>
<h2>Creating Variables</h2>
<p>Python has no command for declaring a variable.</br>

A variable is created the moment you first assign a value to it.</p>
<h3>Example</h3>
<pre class="Python">
    <code>
x = 5
y = "John"
print(x)
print(y)
    </code>
</pre>
<p>Variables do not need to be declared with any particular type, and can even change type after they have been set.</p>

<h3>Example</h3>
<pre class="Python">
    <code>
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)
    </code>
</pre>
<h2>Casting</h2>
<p>If you want to specify the data type of a variable, this can be done with casting.</p>
<h3>Example</h3>
<pre class="Python">
    <code>
x = str(3)    # x will be '3'`
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
    </code>
</pre>
<h2>Get the Type</h2>
<p>You can get the data type of a variable with the type() function.</p>
<pre class="Python">
    <code>
x = 5
y = "John"
print(type(x))
print(type(y))       
    </code>
</pre>
<h2>Single or Double Quotes?</h2>
<p>String variables can be declared either by using single or double quotes:</p>
<h3>Example</h3>
<pre class="Python">
    <code>
x = "John"
# is the same as
x = 'John'
    </code>
</pre>
<h2>Case-Sensitive</h2>
<p>Variable names are case-sensitive.</p>
<h3>Example</h3>
<p>This will create two variable</p>
<pre class="Python">
    <code>
a = 4
A = "Sally"
#A will not overwrite a
    </code>
</pre>
<h2>Variable Names</h2>
<p>
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.
</p>
<h3>Example</h3>
<p>Legal variable names:</p>
<pre class="Python">
<code>
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
</code>
</pre>
<h1>Example of illegal variables</h1>
<pre class="Python">
    <code>
2myvar = 'Mark'
my-var = 'Mark'
my var = 'Ntirushwa'
    </code>
</pre>
<h2>Multi Words Variable Names</h2>
<p>
Variable names with more than one word can be difficult to read.</br>
There are several techniques you can use to make them more readable:
</p>
<h3>Camel Case</h3>
<p>Each word, except the first, starts with a capital letter:</p>
<pre class="Python">
    <code>
myVariableName = 'Ntirushwa'
    </code>
</pre>
<h3>Pascal Case</h3>
<p>Each word starts with a capital letter:</p>
<pre class="Python">
    <code>
        MyVariableName = 'Ntirushwa'
    </code>
</pre>
<h3>Snake Case</h3>
<p>Each word is separated by an underscore character</p>
<pre class="Python">
 <code>
    my_variable_name = 'Ntirushwa'
 </code>
</pre>
<h1>Python Variables - Assign Multiple Values</h1>
<h2>Many Values to Multiple Variables</h2>
<p>Python allows you to assign values to multiple variables in one line:</p>
<h3>Example</h3>
<pre class="Python">
    <code>
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
    </code>
</pre>
<p class="link-danger">Note: Make sure the number of variables matches the number of values, or else you will get an error.</p>
<h2>One Value to Multiple Variables</h2>
<p>
And you can assign the same value to multiple variables in one line:
</p>
<h3>Example</h3>
<pre class="Python">
    <code>
x = y = z = "Orange"
print(x)
print(y)
print(z)
    </code>
</pre>
<h2>Unpack a Collection</h2>
<p>If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.</p>
<h3>Example</h3>
<p>Unpack a list:</p>
<pre class="Python">
    <code>
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)
    </code>
</pre>
<h2>Python - Output Variables</h2>
<h3>Output Variables</h3>
<p>The Python print() function is often used to output variables.</p>


<div class="position-relative">
    <a class="btn btn-success  btn-sm position-absolute top-0 start-0" 
       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
       href="/python-variable" 
       role="button">&lt; Previous</a>
    <a class="btn btn-success btn-sm position-absolute top-0 end-0" 
       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
       href="/python-data-type" 
       role="button">Next > </a>
</div>

 </div>
</div>

{% endblock %}