{% extends "index.html" %}

{% block title %}comments{% endblock %}

{% block body %}
<div class="container mt-5 content">
    <div class="row">
<h1>Python Variables</h1>
<h2>Variables</h2>
<p>Variables are containers for storing data values.</p>
<h2>Creating Variables</h2>
<p>Python has no command for declaring a variable.</br>

A variable is created the moment you first assign a value to it.</p>





<div class="position-relative">
    <a class="btn btn-success  btn-sm position-absolute top-0 start-0" 
       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
       href="/python-comments" 
       role="button">&lt; Previous</a>
    <a class="btn btn-success btn-sm position-absolute top-0 end-0" 
       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
       href="/python-variable" 
       role="button">Next > </a>
</div>

 </div>
</div>

{% endblock %}