{% extends "index.html" %}

{% block title %}GSM{% endblock %}

{% block body %}
<!-- Your specific body content goes here -->
<div class="container mt-5 content">
    <div class="row">
        <h1>Sending messages on Arduino with GSM</h1>
        <p>This is how message can be sent from arduino to a recepient.</p>
        <p>And the connection to the arduino is done like this: </p>
        <img src="{{ url_for('static', filename='images/arduino_image.png') }}" alt="gsm connection image" >
        <p class="link-success">This is the codes to send the messages: </p>
        <pre>
            <code class="arduino">
                #include <SoftwareSerial.h>

                    SoftwareSerial gsmSerial(9, 5); //RX, TX
                    
                    void setup()
                    {
                       gsmSerial.begin(9600); // Setting the baud rate of GSM Module
                       Serial.begin(9600);    // Setting the baud rate of Serial Monitor (Arduino)
                       delay(1000);
                       Serial.println("Preparing to send SMS");
                       SendMessage();
                    }
                    
                    void loop()
                    {
                    
                    }
                    void SendMessage()
                    {
                       Serial.println("Setting the GSM in text mode");
                       gsmSerial.println("AT+CMGF=1\r");
                       delay(2000);
                       Serial.println("Sending SMS to the desired phone number!");
                       gsmSerial.println("AT+CMGS=\"+xxxxxxxxxxx\"\r");
                       // Replace x with mobile number
                       delay(2000);
                    
                       gsmSerial.println("Hello from SIM900");    // SMS Text
                       delay(200);
                       gsmSerial.println((char)26);               // ASCII code of CTRL+Z
                       delay(2000);
                    }
            </code>
            </pre>
    </div>
</div>
<script>
    // Initialize highlight.js and specify the language
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightElement(block);
        });
    });
</script>

{% endblock %}


